* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(0, 0, 0);
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

input {
    appearance: unset;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
}